@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

/* body */
body {
    font-family: 'Raleway', sans-serif;
}

/* navigation */
.nav-wrapper {
    background-color: #F89B07;
}

.brand-logo {
    margin-right: 25px;
}

.left {
    margin-left: 15px;
    font-weight: bold;
}

/* banner */
.header-container {
    background: transparent url('https://miro.medium.com/max/2560/1*2cdqBbOJUdvqGVKxAi1JtA.png') 0 0 no-repeat scroll;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom: 3em;
    /* display: table; */
}

/* input */

/* articles */

.article {
    padding: 0 15px;
  }

  /* chart */
  
